
<!DOCTYPE html>
<html lang="es">
<head>
{% load static %}
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Vive Lanco - 2021</title>
    <meta name="description" content="plataforma para centralizar el desarrollo del comercio y el turismo">
    <meta name="author" content="Skeleton - Paul Joseph Pineda - 2021">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->

    <link href="{% static '/css/base.css' %}" rel="stylesheet">
	<link href="{% static '/css/vendor.css' %}" rel="stylesheet">
	<link href="{% static '/css/main.css' %}" rel="stylesheet">

    <!-- script
    ================================================== -->
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fontawesome/all.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

</head>

<body id="top">
	{% include 'home.html' %}

    <!-- Java Script
    ================================================== -->

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>


</body>